/*style.css*/

/* reset */
html, body, div, span,h1, h3, h4, h5, h6, p,
a,img, u, i, center,
dl, dt, dd,form, label,
table, caption, tbody, tfoot, thead, tr, td,
article, details, embed,
figure, figcaption, footer, header, hgroup,
menu,section, summary,
time,audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-size: 14sp;
	background-image: url("../images/grey.jpg");
	background-size: auto 100%;
	 background-repeat: repeat;

}
.glpyh{

    color: #df0c00 !important;
}

}
.navfont
    {
      font-size: 20px !important;
    }

table {
	border-collapse: collapse;
	border-spacing: 0;
}
.btn-primary,.btn-default .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
    background-color: #bdb6b5 !important;
}
.btnclose{
  background-color: #706969 !important;

}
/*main*/
html {
	height: 100%;
}
body {
	font-family: Arial, sans-serif;
	color:#292727;
	/*background: url("../images/net.jpg") no-repeat;*/
	background-size: cover;
}
h1 {
	font-size: 36px;
	line-height: 42px;
  margin-bottom: 20px;
  color:#706969 !important;
}
h2 {
	font-size: 24px;
	line-height: 24px;
  margin-bottom: 20px;
  color:#706969 !important;
}
h4 {
	font-size: 14px;
	line-height: 16px;
    margin-bottom: 10px;
}
p {
	margin-bottom: 6px;
}
p, label, span, a {
	font-size: 12px;
	line-height: 16px;

}
.link{
  color:#706969 !important;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

input, select {
	width: 100%;
	font-size: 12px;
}
select {
	height: 20px;
}
label {
	margin-bottom: 6px;
	display: block;
}
.main-wrapper {
	margin: 0 auto;
	width: 960px;
	height: auto;
	/*background: #C76BC7;*/
}
#header {
	height: 90px;
	margin: 15px 0;
	font-size: 12px;
}
.logo {
	float: left;
	display: inline-block;
	padding: 15px 0;
	width: 14%;
}

.btn {
	padding: 5px 10px;
	display: inline-block;
}
.btn:hover {
	text-decoration: none;
}
.cancel-btn, .forgotten-btn {
	float: left;
	top: 7px;
    position: relative;
}
.select-btn, .submit-btn {
	float: right;
	text-decoration: none;
}
/*.wrapper {
	margin-right: -15px;
    margin-left: -15px;
}*/

.login-cont {
	width: 30%;
	padding: 40px 3%;
	margin-right: 4%;
	/*background: rgba(8,148,140,0.3);*/
	/*background: url("../images/cyan-bg35.png") repeat;*/
	background: #F5F5F5;
	height: 400px;

}

.login-cont label, .login-cont p, .login-cont span, .login-cont a {
	color: #000;
}
.login-cont a {
	text-decoration: underline;
}
.login-cont label {
	font-size: 14px;
}
/*.login-cont input {
	height: 44px;
	line-height: 44px;
	vertical-align: middle;
	border-radius: 0px;
	border: 1px solid #08948C;
	margin-bottom: 15px;
	padding: 0 10px;
	box-sizing: border-box;
}*/
.login-cont input[type="text"], .login-cont input[type="password"], .login-cont input[type="submit"] {
	height: 44px;
	line-height: 44px;
	vertical-align: middle;
	border-radius: 0px;
	border: 1px solid #08948C;
	margin-bottom: 15px;
	padding: 0 10px;
	box-sizing: border-box;
}
.login-cont input[type="text"] {
	font-size: 18px;
	color: #CCC;
}
.login-cont input[type="password"] {
	font-size: 24px;
	color: #CCC;
}
.login-cont input[type="checkbox"] {
	height: 30px;
	width: 30px;
	border-radius: 0px;
	border: 1px solid #08948C;
	top: 5px;
    position: relative;
    padding: 0;
    margin: 0 0 10px 0;
}
input[type="submit"] {
	font-size: 18px;
	text-align: center;
	background: #08948C;
	color: #FFFFFF;
}
.error-msg {
    margin-bottom: 20px;
}
.features-cont {
	width: 45%;
	padding: 40px 3%;
	/*background: #F5F5F5;*/
	min-height: 400px;
	color: #FFFFFF;
}
.submit-login {
	margin-top: 40px;
	margin-bottom: 40px;
}

.copyright {
	font-size: 11px;
	text-align: right;
	padding: 10px 0;
}

.form-cont {
  width: 70%;
  padding: 40px 3%;
  margin-right: 4%;
  /*background: rgba(8,148,140,0.3);*/
  background-image: url("../images/net.jpg") repeat;
  background: #F5F5F5;
  height: 800px;
}
.register-cont {
	width: 60%;
	padding: 5px 3%;
	margin-right: 20%;

	/*background: rgba(8,148,140,0.3);*/
	/*background: url("../images/cyan-bg35.png") repeat;*/
	/*background: #F5F5F5;*/
	height: 950px;

}
