{% load static from staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Order Management System</title>
  {% include 'oms/static.html' %}

</head>

<body>
{% include 'oms/navbar.html' %}

  {% block content %}
    <div class="container-fluid">

    </div>
  {% endblock %}

</body>




</html>
