{% load static from staticfiles %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        <img src="{% static 'images/Logo.png' %}" height="35">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <li><a href="{% url 'oms:main' %}">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'sales:request' %}">New Requests</a></li>
        <li><a href="{% url 'oms:orders' %}">Orders</a></li>







          <li><a href="#">Contact Us/Help </a></li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
        </li>

        <li>
          <a>
          {% if user.is_authenticated %}
            Welcome {{ user.username }}</a>

          </li>
            <li><a href="{% url 'oms:logout' %}">Logout </a>
              {% endif %}
            </li>
          </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
